<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        body {
            margin: 0px;

            font-family: sans-serif;
        }

        header {
            display: flex;
            justify-content: center;
        }

        .header-center {
            width: 70%;

            display: flex;
            align-items: center;

            background-color: #e0e0e0;
        }

        .paragraph {
            margin-inline: 15px;
            margin-block: 15px;

            font-size: xx-large;
        }

        a {
            text-decoration: none;
            font-size: 125%;

            margin-inline: 5px;
        }

        .home {
            color: #000000;
        }

        .weather {
            color: #00000060;
        }
    </style>
</head>

<body>
    <header>
        <div class="header-center">
            <div class="paragraph">WeatherInfo</div>
            <div>
                <a href="/" class="home">Home</a>
                <a href="/weather" class="weather">Weather</a>
            </div>
        </div>
    </header>
</body>

</html>